* {
  box-sizing: border-box;
}

.container {
  margin-top: 20px;
  display: flex;
}
.board1,
.board2 {
  display: grid;
  border: 5px black solid;
  grid-template-columns: repeat(10, 1fr);
  height: 400px;
  width: 400px;
  margin: 0 auto;
}
.board1 .cell {
  cursor: pointer;
}
